$large: 1025px;
$medium: 426px;
$tablet: 769px;
$small: 321px;
$blue: #0e2181;


.about{
    // background: rgb(255,218,233);
    // background: linear-gradient(330deg, rgba(255,218,233,1) 76%, rgba(37,51,139,1) 76%, rgba(37,51,139,1) 93.5%, rgba(255,218,233,1) 93.5%);
    min-height: 100vh;
    &-title{
        font-weight: 500;
    }
    //     // color: #ffdae9 !important;
    // }
}

.paragraph{
    // font-family: 'DM Sans', sans-serif !important;
    text-align: justify;
    color: #E8EEF1 !important;
    margin-top: 0 !important;
    &-trunc{
        color: #E8EEF1 !important;
        margin-top: 0 !important;
        margin: 0.35em 0em !important;
    }
}

@media screen and (max-width: $large){
    .about{
        // background: rgb(255,218,233);
        // background: linear-gradient(135deg, rgba(255,218,233,1) 19.2%, rgba(37,51,139,1) 19.2%, rgba(37,51,139,1) 22.8%, rgba(255,218,233,1) 22.8%);
        &-1{
            padding: 0 !important;
        }
        
    }
}
