@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
$large: 1024px;
$medium: 426px;
$tablet: 769px;
$small: 321px;

body{
    margin: 0 !important;
    padding: 0;
}

*{
    font-family: 'Kaushan Script', cursive !important;
    color: #0e2181 !important;
}

.poster {
    // background: rgb(255,255,255);
    // background: linear-gradient(330deg, rgba(255,255,255,1) 48%, rgba(255,218,233,1) 66%);
    // background: rgb(255,218,233);
    // background: linear-gradient(330deg, rgba(255,218,233,1) 30%, rgba(59,68,148,1) 30%, rgba(37,51,139,1) 50%, rgba(255,218,233,1) 50%);
    height: 100vh;
    padding: 4.5em 2.5em;
//     background: rgb(255,218,233);
//     background: linear-gradient(330deg, rgba(255,218,233,1) 29%, rgba(59,68,148,1) 29%, rgba(37,51,139,1) 50%, rgba(255,218,233,1) 50%);
//     background: rgb(255,218,233);
//     background: linear-gradient(330deg, rgba(255,218,233,1) 34%, rgba(59,68,148,1) 34%, rgba(37,51,139,1) 44%, rgba(255,218,233,1) 44%);
//     background: rgb(255,218,233);
// background: linear-gradient(330deg, rgba(255,218,233,1) 31%, rgba(59,68,148,1) 31%, rgba(37,51,139,1) 46%, rgba(255,218,233,1) 46%);
    
    background: rgb(255,218,233);
    background: linear-gradient(330deg, rgba(255,218,233,1) 23%, rgba(59,68,148,1) 23%, rgba(37,51,139,1) 46%, rgba(255,218,233,1) 46%);
    background: rgb(255,218,233);
    background: linear-gradient(180deg, rgba(255,218,233,1) 5%, rgba(37,51,139,1) 97%);
    background: rgb(255,218,233);
    background: linear-gradient(360deg, rgba(255,218,233,1) 25%, rgba(37,51,139,1) 100%);
    background: #ffdae9;
    background: linear-gradient(300deg, rgba(255,218,233,1) 32%, rgba(92,93,163,0.5889706224286589) 48%, rgba(37,51,139,1) 100%);
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDAE9 30%, #B5FFFC 100%);

    &-image{
        margin: 3em;
    }
    &-title {
        // margin-top: 1em;
        font-size: 5em;
        text-align: left;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        &-2{
            text-align: right;
        }
    }
    &-about{
        &-link{
            font-size: 1.5em;
            color: #0e2181 !important;
            text-align: center;
            align-self:flex-end;
        }
    }
}

@media screen and (max-width: $large){
    .poster{
        position: relative;
        // background-color: #ffdae9 !important;
        // background: rgb(255,218,233);
        // background: linear-gradient(315deg, rgba(255,218,233,1) 28%, rgba(37,51,139,1) 28%, rgba(37,51,139,1) 32%, rgba(255,218,233,1) 32%);
       &-flex {
           display: flex;
           flex-direction: column;
       }
       &-title , &-title-2{
           text-align: center;
           font-size: 2.75em;
       }
       &-about-link{
           background-color: #0e2181;
           padding: 0.75em;
           color: #ffdae9 !important;
           width: fit-content;
           border-radius: 0.5em 1em;
           float: right;
           position: absolute;
           bottom: 2em;
           right: 1em;
       }
    }
}
@media screen and (max-width: $medium){
    .poster{
        &-flex {
            display: flex;
            flex-direction: column;
        }
        &-title , &-title-2{
            text-align: center;
            font-size: 2.75em;
        }
        // background: rgb(255,218,233);
        // background: linear-gradient(330deg,  rgba(255,218,233,1) 36%, rgba(37,51,139,1) 36%, rgba(37,51,139,1) 38%, rgba(255,218,233,1) 38% );
        &-about-link{
            bottom: 50px;
            right: 1em;
        }
    }
}
@media screen and (max-width: $medium){
    .poster{
        // position: relative;
        // background: rgb(255,218,233);
        // background: linear-gradient(330deg,  rgba(255,218,233,1) 36%, rgba(37,51,139,1) 36%, rgba(37,51,139,1) 38%, rgba(255,218,233,1) 38% );
        &-about-link{
            // position: absolute;
            bottom: 50px;
            right: 1em;
        }
    }
}
